{% extends "layout.html" %}

{% block title %}
   Search
{% endblock %}

{% block main %}
<div class="topdiv">
    <h2>Custom Search</h2>
    <div style="margin-top: 1.5%;"></div>
    <h5 style="margin-bottom: 2%;">Sometime your looking for something more specific and were here to help</h5>
        <table class="table table-dark table-hover">
            <thead>
                <tr style="text-align: center;">
                    <th>Description</th>
                    <th>Rank 6 Months <br>to 15 Apr 2022</th>
                    <th>Rank <br>YoY Change</th>
                    <th>Median Salary</th>
                    <th>Median Salary <br> Change</th>
                    <th>Historical <br>Absolute & Relative <br>Jobs Vacancies</th>
                    <th>Live Jobs</th>
                </tr>
            </thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            
        </table>
</div>
{% endblock %}