{% extends "layout.html" %}

{% block title %}
   Search
{% endblock %}

{% block main %}
<div class="topdiv">
    <h2 class="center-meet-the-team">Meet The Team</h2>
</div>
<div class="greeting-text-spacing">
    We worked accordingly as a team to complete our final project. Each person was assigned a task to complete and our project wouldn't be done without them.
      Below, is a list of our team that has worked on this project and the role they've taken up across the duration of our sprints.
</div>

<div class="container">
  <div class="spacing1">
    <div class="row">

    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/de.jpg')}}" width="100" height="100" alt="deren ertim">
      </div>  
      <br>
          Deren Ertim<br>
          Development Team
        </div>

      </div>

    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/rumman.jpg')}}" width="100" height="100" alt="Muhammad Rumman-Ul Alam">
    </div>
      <br>
      Muhammad Rumman-Ul Alam<br>
      Development Team
      </div>
    </div>
    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/abishake.jpg')}}" width="100" height="100" alt="Abishake Ratnavel">
      </div>
      <br>
      <span class="name-centering">Abishake Ratnavel </span><br>
      Development Team
      </div>
    </div>

    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/abdulnasir.jpg')}}" width="100" height="100" alt="Abdulnasil Mohammed">
      </div>
      <br>
     Abdulnasil Mohammed
      <br>
      Development Team
      </div>
    </div>
    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/.jpg')}}" width="100" height="100" alt="Surabhi Kumari">
      </div>
      <br>
      Surabhi Kumari<br>
      Srum Master/ Development Team
      </div>
    </div>

    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/zain.jpg')}}" width="100" height="100" alt="Zain Mahood">
      </div>
      <br>
      Zain Mahood<br>
      Development Team
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/daniel.jpg')}}" width="100" height="100" alt="Daniel Ungureanu">
      </div>
      <br>
      <span class="name-centering">Daniel Ungureanu </span><br>
      Development Team
      </div>
    </div>
    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/rasuli.jpg')}}" width="100" height="100" alt="Mohammad Rasuli ">
      </div>
      <br>
      Mohammad Rasuli<br>
      Development Team
      </div>
    </div>

    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/revathy.jpg')}}" width="100" height="100" alt="Revathy Vikraman Nair Kala Rajendran">
      </div>
      <br>
     Revathy Vikraman Nair Kala Rajendran<br>
    Development Team
      </div> 
    </div>

    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/.jpg')}}" width="100" height="100" alt="Emil Thompson">
      </div>
      <br>
      Emil Thompson<br>
      Development Team
      </div> 
    </div>
    <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/kewin.jpg')}}" width="100" height="100" alt="Kevin Sliwa">
      </div>
      <br>
      Kewin Sliwa <br>
      Srum Master/ Development Team
      </div>
    </div>
  </div>
  <div class="col"> 
      <div class="indiv-background">
        <div class="photo">
      <img src = "{{ url_for('static',filename= 'img/Osama-Abu-Oun.jpg')}}" width="250" height="250" alt="Osama-Abu-Oun">
      </div>
      <br>
      Osama-Abu-Oun <br>
      Product Owner
      </div>
    </div>
  </div>



    

</div>

  


{% endblock %}
