{% extends "layout.html" %}

{% block title %}
   Search
{% endblock %}

{% block main %}
<div class="topdiv">
    <h2 class="center-meet-the-team">Meet The Team</h2>
    <div>
<div class="greeting-text-spacing">
    We worked accordingly as a team to complete our final project. Each person was assigned a task to complete and our project wouldn't be done without them.
      Below, is a list of our team that has worked on this project and the role they've taken up across the duration of our sprints.
</div>
<div class="container">
  <div class="spacing">
  <div class="row">
    <div class="col-sm-4"> 
      <div class="indiv-background">
      <img src = "{{ url_for('static',filename= 'img/de.jpg')}}" width="100" height="100" alt="deren ertim">
        <br>
          Deren Ertim<br>
          Development Team
        </div>

      </div>

    <div class="col-sm-4"> 
      <div class="indiv-background">
      <img src = "{{ url_for('static',filename= 'img/rumman.jpg')}}" width="100" height="100" alt="Muhammad Rumman-Ul Alam">
      <br>
      <span class="name-centering">Muhammad Rumman-Ul Alam</span><br>
      Development Team
      </div>
    </div>
      <div class="col-sm-4"> 
        <div class="indiv-background">
        <img src = "{{ url_for('static',filename= 'img/abdulnasir.jpg')}}" width="100" height="100" alt="Abdulnasil Mohammed">
        <br>
        <span class="name-centering">Abdulnasil Mohammed</span><br>
        Development Team
        </div>
      </div>



  </div>
  
  <div class="row">
    <div class="col-sm-4"> 
      <div class="indiv-background">
      <img src = "{{ url_for('static',filename= 'img/abishake.jpg')}}" width="100" height="100" alt="Abishake Ratnavel">
      <br>
      <span class="name-centering">Abishake Ratnavel </span><br>
      Development Team
      </div>
    </div>


    <div class="col-sm-4"> 
      <div class="indiv-background">
      <img src = "{{ url_for('static',filename= 'img/daniel.jpg')}}" width="100" height="100" alt="Daniel Ungureanu">
      <br>
      <span class="name-centering">Daniel Ungureanu </span><br>
      Development Team
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="indiv-background">
      <img src = "{{ url_for('static',filename= 'img/rasuli.jpg')}}" width="100" height="100" alt="Mohammad Rasuli ">
      <br>
      <span class="name-centering">Mohammad Rasuli  </span><br>
      Development Team
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"> 
      <div class="indiv-background">
      <img src = "{{ url_for('static',filename= 'img/revathy.jpg')}}" width="100" height="100" alt="Revathy Vikraman Nair Kala Rajendran">
      <br>
      <span class="name-centering">Revathy Vikraman Nair Kala Rajendran </span><br>
      <span class="name-centering"> Development Team</span>
      </div> 
    </div>

    <div class="col-sm-4"> 
      <div class="indiv-background">
      <img src = "{{ url_for('static',filename= 'img/.jpg')}}" width="100" height="100" alt="Emil Thompson">
      <br>
      <span class="name-centering">Emil Thompson </span><br>
      Development Team
      </div> 
    </div>

      <div class="col-sm-4"> 
        <div class="indiv-background">
        <img src = "{{ url_for('static',filename= 'img/.jpg')}}" width="100" height="100" alt="Kevin Sliva">
        <br>
        <span class="name-centering">Kevin Sliva </span><br>
        Srum Master/ Development Team
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="indiv-background">
        <img src = "{{ url_for('static',filename= 'img/.jpg')}}" width="100" height="100" alt="Surabhi Kumari">
        <br>
        <span class="name-centering">Surabhi Kumari</span><br>
        Srum Master/ Development Team
        </div>
      </div>
</div>

  


{% endblock %}
