{% extends "layout.html" %}

{% block title %}
   Search
{% endblock %}

{% block main %}
<div class="topdiv">
    <h2 class="center">Meet the team</h2>
<div class="greeting-text-spacing">
    We worked accordingly as a team to complete our final project. Each person was assigned a task to complete and our project wouldn't be done without them.
      Below, is a list of our team that has worked on this project and the role they've taken up across the duration of our sprints.
    
</div>

    <div class="container">
  <div class="row">
    <div class="center">
    <div class=".col-md-">
      <img src="../img/de.jpg" alt="Deren Ertim">
      <div class="name-position">
      <h5>Deren Ertim</h5>
      <h6>Development Team</h6>
      </div>
      <img src=".jpg" alt="Mohammad Rasuli">
      <img src=".jpg" alt="Muhammad Rumman-Ul Alam">
      <img src=".jpg" alt="Revathy Vikraman Nair Kala Rajendran">
    </div>
    <div class=".col-md-">
    <img src=".jpg" alt="Abdulnasil Mohammed">
    <img src=".jpg" alt="Zain Mahmood">
    <img src=".jpg" alt="Daniel Ungureanu">
    <img src=".jpg" alt="Kevin Sliva">
  </div>
    <div class=".col-md-">
      <img src=".jpg" alt="Abishake Ratnavel">
      <img src=".jpg" alt="Surabhi Kumari">
      <img src=".jpg" alt="Emile Thompson">
    </div>
</div>

</div>
</div>
{% endblock %}
