{% extends "layout.html" %}

{% block title %}
   Search
{% endblock %}

{% block main %}
<div class="topdiv">
    <h2 class="center-meet-the-team">Tools</h2>
</div>
<div class="greeting-text-spacing">
    We used a multiple number of tools to complete our final project.<br>
    Below, is a list of our team that has worked on this project and the role they've taken up across the duration of our sprints.
    </div>
    <div class="container">
      <div class="row">
        <div class=".col-md-">
          
          <img src="../img/jenkins.jpg" width="200" height="267" alt="jenkins">
          <img src="../img/html.png" width="200" height="267" alt="html5">
          <img src="../img/python.png" width="200" height="267" alt="python">
          <img src="../img/docker.jpg" width="200" height="267" alt="docker">

        </div>
        <div class=".col-md-"></div>
      </div>
      <div class="row">
        <div class=".col-md-"></div>
        <div class=".col-md-"></div>
        <div class=".col-md-"></div>
      </div>
      <div class="row">
        
      </div>
    </div>

{% endblock %}
